extends ../layout

block content
    if style.thumbnail_url
        img(src=style.thumbnail_url alt=style.name)
    h1 #{title}
    if shoesInStyle.length
        p check out our selection of #{style.name} shoes
        ul(class="item-grid")
            each shoe in shoesInStyle
                li(class="grid-item") 
                    a(href=shoe.url) 
                        img(src=shoe.thumbnail_url ? `https://res.cloudinary.com/${cloudinaryName}/image/fetch/c_fill,h_600,w_600/${shoe.thumbnail_url}` : "/images/prod-placeholder.jpg" alt=shoe.name)
                        p #{shoe.name} - $#{shoe.price}
    else 
        p There are no shoes of this style.
    hr 
    a(href=style.url + "/update") Update
    if !shoesInStyle.length
        br
        br 
        a(href=style.url + "/delete") Delete