extends layout

block content
    h1 #{title} 
    form(action=postUrl method="post")
        div(class="input-contain")
            label(for="name") Name 
                span(class="required") *
            input(id="name" name="name" type="text" maxlength="150" required)
        div(class="input-contain")
            label(for="description") Description 
            textarea(id="description" name="description" maxlength="300")
        div(class="input-contain")
            label(for="price") Price 
                span(class="required") *
            input(id="price" name="price" type="number"  )
        div(class="input-contain")
            label(for="brand") Brand 
                span(class="required") *
            select(id="brand" name="brand")
                each brand in brands 
                    option(value=brand._id) #{brand.name}
        div(class="input-contain")
            label(for="style") Style 
                span(class="required") *
            select(id="style" name="style")
                each style in styles 
                    option(value=style._id) #{style.name}
        input(type="Submit" value="Submit")  
    if errors 
        each error in errors 
            p(class="error") Error on field: #{error.path}, #{error.msg}