extends layout

block content
    h1 #{title}
    p $#{shoe.price}
    p #{shoe.description}
    hr
    p Brand:
        a(href=shoe.brand.url)  #{shoe.brand.name}
    p Style: 
        a(href=shoe.style.url)  #{shoe.style.name}
    hr 
    a(href=shoe.url + "/update") Update