extends layout

block content
    h1 #{title}
    if shoesInStyle.length
        p check out our selection of #{style.name} shoes
        ul 
            each shoe in shoesInStyle
                li 
                    a(href=shoe.url) #{shoe.name} - $#{shoe.price}
    else 
        p There are no shoes of this style.
    hr 
    a(href=style.url + "/update") Update
    if !shoesInStyle.length
        br
        br 
        a(href=style.url + "/delete") Delete