extends ../layout

block content
    if brand.thumbnail_url
        img(src=brand.thumbnail_url alt=brand.name)
    h1 #{title}
    if shoesInBrand.length
        p check out our selection of shoes for #{brand.name}
        ul(class="item-grid")
            each shoe in shoesInBrand
                li(class="grid-item") 
                    a(href=shoe.url) 
                        img(src=shoe.thumbnail_url ? `https://res.cloudinary.com/${cloudinaryName}/image/fetch/c_fill,h_600,w_600/${shoe.thumbnail_url}` : "/images/prod-placeholder.jpg" alt=shoe.name)
                        p #{shoe.name} - $#{shoe.price}
    else 
        p There are no shoes in this brand.
    hr 
    a(href=brand.url + "/update") Update
    if !shoesInBrand.length
        br
        br 
        a(href=brand.url + "/delete") Delete